# This is the configuration file for JavaClipboard. 
# All paths are relative to current execution path, do not use leading slashes.

# Directory where to read files from.
seedFolder= folderName

# Mode in which the program can be run.
# Values are: 1. doEncrypt (creates a single encrypted file whose content is ready to be copied to the clipboard),
#	   		  2. doDecrypt (which should be used in the target location. It decrypts the given encrypted file into a new clear text file), 
#			  3. doRegenerate (reads from the decrypted file and reconstructs the file hierarchy and its contents).
action= doEncrypt

# Encrypted file name.
dumpFile= clipboard.txt

# Clear text file name.
clearFile= contents.txt